@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 900px) {
    .attach img
    {
       width: 90%;
   }  
   .star-1 {
    width: 60%;}

    .star-2 {
        width: 60%;}
}

@media screen and (max-width: 800px) {
    .text-block {
        flex-direction: column;
    }
    .whom {
        width: 100%;
        font-size: 15px;
    }
    .adress {
        width: 100%;
        font-size: 15px;
    }
    .text {
        width: 100%;
        font-size: 15px;
    }
    .date {
        width: 10%;
        font-size: 15px;
    }
}

@media screen and (max-width: 678px) {
  
}

@media screen and (max-width: 600px) {


}

@media screen and (max-width: 550px) {
    .name {
        font-size: 10px;
    }

    .whom {
        width: 100%;
        font-size: 10px;
    }
    .adress {
        width: 100%;
        font-size: 10px;
    }
    .text {
        width: 100%;
        font-size: 10px;
    }
    .date {
        width: 10%;
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
   
}

@media screen and (max-width: 320px) {
    
}